image: docker:latest

variables:
  DOCKER_TLS_CERTDIR: "/certs"

services:
  - docker:dind

stages:
  - build

before_script:
  - docker info

build:
  stage: build
  script:
    - docker build -t $CI_REGISTRY/$CI_PROJECT_PATH:latest .
    - echo "$CI_JOB_TOKEN" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker image push $CI_REGISTRY/$CI_PROJECT_PATH:latest
